body {
    color: black;
    background-color: #f2f2f2;
    font-family: 'Open Sans','Arial',sans-serif;
    margin: 1em 1em;

}

/*HEADER ELEMENTS*/

#header {
    /*background-color: yellow;*/
    height: fit-content;
    width: 100%;
    margin-bottom: 2em;
    margin-left:3px;
}

.rg {
    float: left;
    height: 4em;
    border-radius: 10px;
    width: auto;
    margin-right: 1em;
}

#Label1 {
    font-weight: 700;
    line-height: 1em;
    font-size: 28pt;
}

#Label2 {
    font-size: 14pt;
}

/*COACHES BOX*/

#coaches {
    /*background-color: lightcoral;*/
    border: solid 2px black;
    border-radius: 10px;
    height: fit-content;
    width: 380px;
}

#coachbox {
    /*background-color: lightblue;*/
    padding: 10px;
    width: auto;
    height: 5em;
}

#coachline {
    color: lightgray;
    margin: 0;
}

#coachimage {
    border: 1px solid darkgray;
    float: left;
    height: 5em;
    width: auto;
}

#Label3 {
    font-weight: 400;
    font-size: 10pt;
}

#Label4 {
    font-weight: 700;
    font-size: 18pt;
}

.coachdesc {
    /*background-color: lightpink;*/
    margin-left: 10px;
    line-height: 1em;
}

#subcoachbox {
    /*background-color: lightgreen;*/
    padding: 10px;
}

#subcoachimage {
    border: 1px solid darkgray;
    height: 3em;
    width: auto;
    float: left;
}

#Label5 {
    font-weight: 400;
    font-size: 8pt;
}

#Label6 {
    font-weight: 700;
    font-size: 16pt;
}

/*GAMES BOX*/

#games {
    width: 380px;
    height: 310px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

#gameheader {
    width: 100%;
    height: 30px;
    background-color: black;
}

/*FIELD AND ITS PLAYERS*/

#leftland {
    float: left;
}

#field {
    margin-left: 1em;
    border-radius: 10px;
    object-fit: cover;
    width: 400px;
    height: auto;
}

#leftleftland {
    background-color: rebeccapurple;
    float:left;
}

#carrosel {
    position:absolute;
    width: 710px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 52em
}

#carrosel_subs {
    position: absolute;
    width: 710px;
    height: 300px;
    border: 2px solid black;
    margin-top: 320px;
    border-radius: 10px;
    margin-left: 52em
}
@media (max-width:880px) {
    #header {
        width: 790px
    }
}
